# Решения задач с сайта sql-ex.ru

Схемы таблиц с данными и задачи взяты с сайта https://www.sql-ex.ru/ от 6 июня 2021 года. На этот момент времени на сайте всего 155 задач. Для них представлены решения.

## <a name="1"> Содержание: </a>

- [Схемы таблиц с данными](#1)
- [Задачи и решения](#2)

## <a name="1"> Схемы таблиц с данными </a>

All exercises are performed on the databases described below.

### 1. Computer firm
The database scheme consists of four tables:
- Product(maker, model, type)
- PC(code, model, speed, ram, hd, cd, price)
- Laptop(code, model, speed, ram, hd, screen, price)
- Printer(code, model, color, type, price)

The Product table contains data on the maker, model number, and type of product ('PC', 'Laptop', or 'Printer'). It is assumed that model numbers in the Product table are unique for all makers and product types. Each personal computer in the PC table is unambiguously identified by a unique code, and is additionally characterized by its model (foreign key referring to the Product table), processor speed (in MHz) – speed field, RAM capacity (in Mb) - ram, hard disk drive capacity (in Gb) – hd, CD-ROM speed (e.g, '4x') - cd, and its price. The Laptop table is similar to the PC table, except that instead of the CD-ROM speed, it contains the screen size (in inches) – screen. For each printer model in the Printer table, its output type (‘y’ for color and ‘n’ for monochrome) – color field, printing technology ('Laser', 'Jet', or 'Matrix') – type, and price are specified.
![](https://www.sql-ex.ru/images/computers.gif)

### 2. Recycling firm
The firm owns several buy-back centers for collection of recyclable materials. Each of them receives funds to be paid to the recyclables suppliers. Data on funds received is recorded in the table Income_o(point, date, inc). The primary key is (point, date), where point holds the identifier of the buy-back center, and date corresponds to the calendar date the funds were received. The date column doesn’t include the time part, thus, money (inc) arrives no more than once a day for each center. 

Information on payments to the recyclables suppliers is held in the table Outcome_o(point, date, out). In this table, the primary key (point, date) ensures each buy-back center reports about payments (out) no more than once a day, too.

For the case income and expenditure may occur more than once a day, another database schema with tables having a primary key consisting of the single column code is used:
- Income(code, point, date, inc);
- Outcome(code, point, date, out).
Here, the date column doesn’t include the time part, either.
![](https://www.sql-ex.ru/images/income.gif)

### 3. Ships
The database of naval ships that took part in World War II is under consideration. The database consists of the following relations:
- Classes(class, type, country, numGuns, bore, displacement)
- Ships(name, class, launched)
- Battles(name, date)
- Outcomes(ship, battle, result)

Ships in classes all have the same general design. A class is normally assigned either the name of the first ship built according to the corresponding design, or a name that is different from any ship name in the database. The ship whose name is assigned to a class is called a lead ship.
The Classes relation includes the name of the class, type (can be either bb for a battle ship, or bc for a battle cruiser), country the ship was built in, the number of main guns, gun caliber (bore diameter in inches), and displacement (weight in tons). The Ships relation holds information about the ship name, the name of its corresponding class, and the year the ship was launched. The Battles relation contains names and dates of battles the ships participated in, and the Outcomes relation - the battle result for a given ship (may be sunk, damaged, or OK, the last value meaning the ship survived the battle unharmed).

Notes: 
1) The Outcomes relation may contain ships not present in the Ships relation. 
2) A ship sunk can’t participate in later battles. 
3) For historical reasons, lead ships are referred to as head ships in many exercises.
4) A ship found in the Outcomes table but not in the Ships table is still considered in the database. This is true even if it is sunk.
![](https://www.sql-ex.ru/images/ships.gif)

### 4. Airport
The database schema consists of 4 tables:
- Company(ID_comp, name)
- Trip(trip_no, id_comp, plane, town_from, town_to, time_out, time_in)
- Passenger(ID_psg, name)
- Pass_in_trip(trip_no, date, ID_psg, place)

The Company table contains IDs and names of the airlines transporting passengers. The Trip table contains information on the schedule of flights: trip (flight) number, company (airline) ID, plane type, departure city, destination city, departure time, and arrival time. The Passenger table holds IDs and names of the passengers. The Pass_in_trip table contains data on flight bookings: trip number, departure date (day), passenger ID and her seat (place) designation during the flight. It should be noted that:
- scheduled flights are operated daily; the duration of any flight is less than 24 hours; town_from <> town_to;
- all time and date values are assumed to belong to the same time zone;
- departure and arrival times are specified with one minute precision;
- there can be several passengers bearing the same first name and surname (for example, Bruce Willis);
- the seat (place) designation consists of a number followed by a letter; the number stands for the row, while the letter (a – d) defines the seat position in the grid (from left to right, in alphabetical order;
- connections and constraints are shown in the database schema below.
![](https://www.sql-ex.ru/images/aero.gif)

### 5. Painting
The database schema consists of 3 tables:
- utQ (Q_ID int, Q_NAME varchar(35)), 
- utV (V_ID int, V_NAME varchar(35), V_COLOR char(1)), 
- utB (B_DATETIME datetime, B_Q_ID int, B_V_ID int, B_VOL tinyint).

The utQ table contains the identifiers and names of squares, the initial color of which is black. (Note: black is not a color and is considered unpainted. Only Red, Green and Blue are colors.)
The utV table contains the identifiers and names of spray cans and the color of paint they are filled with.
The utB table holds information on squares being spray-painted, and contains the time of the painting event, the square and spray can identifiers, the quantity of paint being applied.

It should be noted that:
- a spray can may contain paint of one of three colors: red (V_COLOR='R'), green (V_COLOR='G'), or blue (V_COLOR='B');
- any spray can initially contains 255 units of paint;
- the square color is defined in accordance with the RGB model, i.e. R=0, G=0, B=0 is black, whereas R=255, G=255, B=255 is white;
- any record in the utB table decreases the paint quantity in the corresponding spray can by B_VOL and accordingly increases the amount of paint applied to the square by the same value;
- B_VOL must be greater than 0 and less or equal to 255;
- the paint quantity of a single color applied to one square can’t exceed 255, and there can’t be a less than zero amount of paint in a spray can;
- the time of the painting event (B_DATETIME) is specified with one second precision, i.e. it does not contain milliseconds;
- for historical reasons, the spray cans are referred to as “balloons” by many of the exercises, and the utV table contains spray can names (V_NAME column) such as “Balloon # 01”, etc.
![](https://www.sql-ex.ru/images/painting.gif)

[В начало](#0)

## <a name="2"> Задачи и решения </a>

Exercise 1: 

Find the model number, speed and hard drive capacity for all the PCs with prices below $500. Result set: model, speed, hd.

`SELECT model, speed, hd
FROM pc
WHERE price < 500`

Exercise 2:

List all printer makers. Result set: maker.

`SELECT DISTINCT maker
FROM product
WHERE type = 'Printer'`

Exercise 3:

Find the model number, RAM and screen size of the laptops with prices over $1000.

`SELECT model, ram, screen
FROM laptop
WHERE price > 1000`

Exercise 4:

Find all records from the Printer table containing data about color printers.

`SELECT *
FROM printer
WHERE color = 'y'`

Exercise 5:

Find the model number, speed and hard drive capacity of PCs cheaper than $600 having a 12x or a 24x CD drive.

`SELECT model, speed, hd
FROM pc
WHERE cd IN ('12x', '24x')
AND price < 600`

Exercise 6:

For each maker producing laptops with a hard drive capacity of 10 Gb or higher, find the speed of such laptops. Result set: maker, speed.

`SELECT DISTINCT maker, speed
FROM product p
INNER JOIN laptop l
ON p.model = l.model
WHERE hd >= 10
AND type = 'Laptop'`

Exercise 7: 

Get the models and prices for all commercially available products (of any type) produced by maker B.

`SELECT p.model, pc.price
FROM pc
INNER JOIN product p
ON pc.model = p.model
WHERE maker = 'B'
UNION
SELECT p.model, l.price
FROM Laptop l
INNER JOIN product p
ON l.model = p.model
WHERE maker = 'B'
UNION
SELECT p.model, pr.price
FROM Printer pr
INNER JOIN product p
ON pr.model = p.model
WHERE maker = 'B'`

Exercise 8:

Find the makers producing PCs but not laptops.

`SELECT DISTINCT maker 
FROM product
WHERE type = 'PC'
EXCEPT
SELECT DISTINCT maker 
FROM product
WHERE type = 'Laptop'`

Exercise 9: 

Find the makers of PCs with a processor speed of 450 MHz or more. Result set: maker.

`SELECT DISTINCT maker
FROM product p
INNER JOIN pc
ON p.model = pc.model
WHERE speed >= 450`

Exercise 10: 

Find the printer models having the highest price. Result set: model, price.

`SELECT model, price
FROM printer
WHERE price = (SELECT MAX(price) FROM printer)`

Exercise 11: 

Find out the average speed of PCs.

`SELECT AVG(speed)
FROM pc`

Exercise 12: 

Find out the average speed of the laptops priced over $1000.

`SELECT AVG(speed)
FROM laptop
WHERE price > 1000`

Exercise 13: 

Find out the average speed of the PCs produced by maker A.

`SELECT AVG(speed)
FROM pc
INNER JOIN product p
ON pc.model = p.model
WHERE maker = 'A'`

Exercise 14: 

For the ships in the Ships table that have at least 10 guns, get the class, name, and country.

`SELECT s.class
, name
, country
FROM ships s
INNER JOIN classes c
ON s.class = c.class
WHERE numguns >= 10`

Exercise 15:

Get hard drive capacities that are identical for two or more PCs.
Result set: hd.

`SELECT hd
FROM pc
GROUP BY hd
HAVING COUNT(hd) >=2`

Exercise 16:

Get pairs of PC models with identical speeds and the same RAM capacity. Each resulting pair should be displayed only once, i.e. (i, j) but not (j, i).
Result set: model with the bigger number, model with the smaller number, speed, and RAM.

`SELECT DISTINCT pc1.model
, pc2.model
, pc1.speed
, pc1.ram
FROM pc pc1 INNER JOIN pc pc2
ON pc1.speed = pc2.speed
AND pc1.ram = pc2.ram
AND pc1.model > pc2.model`

Exercise 17:

Get the laptop models that have a speed smaller than the speed of any PC.
Result set: type, model, speed.

`SELECT DISTINCT type
, l.model
, speed
FROM laptop l
INNER JOIN product p
ON l.model = p.model
WHERE speed < (SELECT MIN(speed) FROM pc)`

Exercise 18:

Find the makers of the cheapest color printers.
Result set: maker, price.

`SELECT DISTINCT maker, price
FROM product p
INNER JOIN
(SELECT model, price
FROM printer
WHERE color = 'y' AND price = 
(SELECT MIN(price)
FROM printer
WHERE color = 'y')) AS t
ON p.model = t.model`

Exercise 19:

For each maker having models in the Laptop table, find out the average screen size of the laptops he produces.
Result set: maker, average screen size.

`SELECT maker, AVG(screen)
FROM laptop l
INNER JOIN product p
ON l.model = p.model
GROUP BY maker`

Exercise 20: 

Find the makers producing at least three distinct models of PCs.
Result set: maker, number of PC models.

`SELECT maker, COUNT(*) models_num
FROM product
WHERE type = 'pc'
GROUP BY maker
HAVING COUNT(*) > 2`

Exercise 21:

Find out the maximum PC price for each maker having models in the PC table. Result set: maker, maximum price.

`SELECT maker, MAX(price)
FROM product p
INNER JOIN pc
ON p.model = pc.model
GROUP BY maker`

Exercise 22:

For each value of PC speed that exceeds 600 MHz, find out the average price of PCs with identical speeds.
Result set: speed, average price.

`SELECT speed, AVG(price)
FROM pc
WHERE speed > 600
GROUP BY speed
`

Exercise 23: 

Get the makers producing both PCs having a speed of 750 MHz or higher and laptops with a speed of 750 MHz or higher.
Result set: maker

`SELECT DISTINCT maker
FROM product p
WHERE maker IN 
(SELECT maker
FROM product p
INNER JOIN pc
ON p.model = pc.model
AND pc.speed >= 750)
AND maker in
(SELECT maker
FROM product p
INNER JOIN laptop l
ON p.model = l.model
AND l.speed >= 750)`

Exercise 24:

List the models of any type having the highest price of all products present in the database.

`WITH temp AS 
(
SELECT model, price
FROM pc
WHERE price = (SELECT MAX(price) FROM pc)
UNION
SELECT model, price
FROM laptop
WHERE price = (SELECT MAX(price) FROM laptop)
UNION
SELECT model, price
FROM printer
WHERE price = (SELECT MAX(price) FROM printer)
)
SELECT model
FROM temp
WHERE price = (SELECT MAX(price) FROM temp)
`

Exercise 25: 

Find the printer makers also producing PCs with the lowest RAM capacity and the highest processor speed of all PCs having the lowest RAM capacity.
Result set: maker.

`WITH min_ram AS
(SELECT min(ram) ram FROM pc)
, max_speed AS
(SELECT max(speed) speed FROM pc
WHERE ram = (SELECT ram FROM min_ram))
, maker AS
(SELECT maker
FROM pc
INNER JOIN product p
ON ram = (SELECT ram FROM min_ram)
AND speed = (SELECT speed FROM max_speed)
AND pc.model = p.model)
SELECT DISTINCT m.maker
FROM product p
INNER JOIN maker m
ON m.maker = p.maker
AND type = 'printer'`

Exercise 26: 

Find out the average price of PCs and laptops produced by maker A.
Result set: one overall average price for all items.

`WITH temp AS
(SELECT maker, p.model, price
FROM product p
INNER JOIN pc
ON pc.model = p.model
AND p.maker = 'A'
AND p.type = 'PC'
UNION ALL
SELECT maker, p.model, price
FROM product p
INNER JOIN laptop l
ON l.model = p.model
AND p.maker = 'A'
AND p.type = 'Laptop')
SELECT AVG(price)
FROM temp`

Exercise 27:

Find out the average hard disk drive capacity of PCs produced by makers who also manufacture printers.
Result set: maker, average HDD capacity.

`SELECT p.maker, AVG(hd)
FROM pc
INNER JOIN product p
ON p.model = pc.model
AND p.maker IN 
(
SELECT distinct maker
FROM product
WHERE type = 'Printer'
)
GROUP BY p.maker`

Exercise 28:

Using Product table, find out the number of makers who produce only one model.

`SELECT COUNT(maker)
FROM 
(SELECT maker
FROM product
GROUP BY maker
HAVING COUNT(model) = 1) AS a`

Exercise 29:

Under the assumption that receipts of money (inc) and payouts (out) are registered not more than once a day for each collection point [i.e. the primary key consists of (point, date)], write a query displaying cash flow data (point, date, income, expense).
Use Income_o and Outcome_o tables.

`SELECT CASE WHEN i.point IS NULL THEN o.point
WHEN o.point IS NULL THEN i.point
ELSE i.point END AS point
, CASE WHEN i.date IS NULL THEN o.date
WHEN o.date IS NULL THEN i.date
ELSE i.date END AS date
, SUM(inc) AS inc
, SUM(out) AS out
FROM outcome_o o
FULL JOIN income_o i
ON o.point = i.point
AND o.date = i.date
GROUP BY CASE WHEN i.point IS NULL THEN o.point
WHEN o.point IS NULL THEN i.point
ELSE i.point END
, CASE WHEN i.date IS NULL THEN o.date
WHEN o.date IS NULL THEN i.date
ELSE i.date END`

Exercise 30:

Under the assumption that receipts of money (inc) and payouts (out) can be registered any number of times a day for each collection point [i.e. the code column is the primary key], display a table with one corresponding row for each operating date of each collection point.
Result set: point, date, total payout per day (out), total money intake per day (inc).
Missing values are considered to be NULL.

`WITH inc_gr AS
(SELECT point, date, SUM(inc) inc
FROM income
GROUP BY point, date)
, out_gr as
(SELECT point, date, SUM(out) out
FROM outcome
GROUP BY point, date)
SELECT i.point, i.date, out, inc
FROM inc_gr i LEFT JOIN out_gr o
ON i.point = o.point AND i.date = o.date
UNION
SELECT o.point, o.date, out, inc
FROM inc_gr i RIGHT JOIN out_gr o
ON i.point = o.point AND i.date = o.date`

Exercise 31:

For ship classes with a gun caliber of 16 in. or more, display the class and the country.

`SELECT class, country
FROM classes
WHERE bore >= 16`

Exercise 32:

One of the characteristics of a ship is one-half the cube of the calibre of its main guns (mw).
Determine the average ship mw with an accuracy of two decimal places for each country having ships in the database.

`SELECT country, CAST(AVG(POWER(bore, 3)/2) AS NUMERIC(10, 2)) 
FROM
(SELECT country, bore, name 
FROM classes c
INNER JOIN ships s
ON s.class = c.class
UNION
SELECT country, bore, ship 
FROM classes c
INNER JOIN outcomes o
ON o.ship = c.class 
AND o.ship NOT IN(SELECT DISTINCT name FROM ships)) AS n
GROUP BY country`

Exercise 33:

Get the ships sunk in the North Atlantic battle.
Result set: ship.

`SELECT ship
FROM outcomes
WHERE battle = 'North Atlantic'
AND result = 'sunk'`

Exercise 34:

In accordance with the Washington Naval Treaty concluded in the beginning of 1922, it was prohibited to build battle ships with a displacement of more than 35 thousand tons.
Get the ships violating this treaty (only consider ships for which the year of launch is known).
List the names of the ships.

`SELECT name 
FROM classes c
INNER JOIN ships s
ON c.class = s.class
WHERE displacement > 35000
AND launched >= 1922
AND type = 'bb'`

Exercise 35:

Find models in the Product table consisting either of digits only or Latin letters (A-Z, case insensitive) only.
Result set: model, type.

`SELECT model, type 
FROM Product 
WHERE model NOT LIKE '%[^A-Z]%' 
OR model NOT LIKE '%[^0-9]%'`

Exercise 36:

List the names of lead ships in the database (including the Outcomes table).

`SELECT class
FROM classes
WHERE class IN
(SELECT name
FROM ships
UNION
SELECT ship 
FROM outcomes)`

Exercise 37:

Find classes for which only one ship exists in the database (including the Outcomes table).

`SELECT c.class
FROM classes c 
INNER JOIN
(SELECT name AS name, class AS class
FROM ships
UNION
SELECT ship AS name, ship AS class
FROM outcomes) u
ON u.class = c.class OR u.name = c.class
GROUP BY c.class
HAVING COUNT(*) = 1`

Exercise 38:

Find countries that ever had classes of both battleships (‘bb’) and cruisers (‘bc’).

`SELECT country
FROM classes
WHERE type = 'bb' OR type = 'bc'
GROUP BY country
HAVING COUNT(DISTINCT type) > 1`

Exercise 39:

Find the ships that `survived for future battles`; that is, after being damaged in a battle, they participated in another one, which occurred later.

`SELECT DISTINCT b.ship
FROM
(SELECT *
, LAG(result) OVER(PARTITION BY ship ORDER BY date) lag
FROM outcomes o
INNER JOIN battles b
ON o.battle = b.name
AND ship IN (
SELECT ship
FROM outcomes
WHERE result = 'damaged')) AS b
WHERE b.lag = 'damaged'`

Exercise 40:

Get the makers who produce only one product type and more than one model. Output: maker, type.

`SELECT DISTINCT maker, MAX(type)
FROM product
GROUP BY maker
HAVING COUNT(model) > 1
AND COUNT(DISTINCT type) = 1`

Exercise 41:

For each maker who has models at least in one of the tables PC, Laptop, or Printer, determine the maximum price for his products.
Output: maker; if there are NULL values among the prices for the products of a given maker, display NULL for this maker, otherwise, the maximum price.

`WITH temp AS 
(SELECT model, price FROM PC
UNION
SELECT model, price FROM Laptop
UNION
SELECT model, price FROM Printer)
SELECT p.maker
, CASE WHEN COUNT(*) = COUNT(price) THEN MAX(price) END
FROM Product p
INNER JOIN temp
ON p.model = temp.model
GROUP BY p.maker`

[В начало](#0)